/*TODO: Convert to scss  (:*/

body {
  background-image: url('bedge_grunge.png');
  font-size: 20px;
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  width: 400px;
  height: 240px;

  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -120px;
}

.card .info {
  height: 220px;
  background-color: #fff;
  text-align: center;
  padding-top: 1px;
}

.card .info .ru {
  display : inline;
}
.card .info .en {
  display : none;
}

.card .info.flipped .ru {
  display : none;
}
.card .info.flipped .en {
  display : inline;
}

.card .info.shadow {
  -moz-box-shadow:    0 0 5px 2px rgba(0,0,0,.35);
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
  box-shadow:         0 0 5px 2px rgba(0,0,0,.35);
}

.card .menu {
  height: 20px;
  font-size: 0.6em;
}

.card .info .name {
  font-size: 1.5em;
  margin-bottom: 0;
}

.card .info .position {
  margin-top: 0;
  font-size: 0.9em;
}

.card .info .field {
  font-size: 0.8em;
}

.card .info  a {
  color: #444;
}

.card .info a:hover {
  color: grey;
}

.card .menu a {
  cursor: default;
  text-decoration: none;
}
.card .menu a.next {
  cursor: pointer;
  text-decoration: underline;
}